

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-2">
        @Html.Partial("_Show")
    </div>


    <div class=" col-sm-12 col-md-12 col-lg-9">
        @Html.Partial("_Content")
    </div>

    <div class="col-md-12 col-sm-12 col-lg-1">
        <nav aria-label="...">
            <ul class="pagination pagination-lg flex-column">
                @if ((int)ViewBag.AllRows > 1)
                {
                    @for (int i = 1; i <= (int)ViewBag.AllRows; i++)
                    {
                        if (ViewBag.page == i)
                        {

                            <li class="page-item active"><a class="page-link text-center" asp-action="index" asp-route-page="@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link text-center" asp-action="index" asp-route-page="@i">@i</a></li>
                        }
                    }
                }

            </ul>
        </nav>
    </div>
</div>